.about-me-page {
  background: var(--teal);
  display: grid;
  grid-template-rows: 0.33fr 372px 0.24fr;
  grid-template-columns: 0.325fr 0.383fr 0.292fr;
}


.self-portrait-container {
  grid-row: 1;
  grid-column: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

}

.self-portrait {
  width: 20vw;
  height: 20vw;
  background-image: url('../images/portrait.jpg');
  background-size: cover;
  border-radius: 50%;
  margin: 10px 0px;
}


.about-me-title-container {
  grid-row: 1;
  grid-column: 2 / 4;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-me-title-container h1 {
  font-family: var(--autour);
  color: var(--pink);
  font-size: 70px;
}



.content-container {
  grid-row: 2;
  width: 100%;
  display: flex;
}

.about-me-content {
  background: var(--pink);
  height: 41vh;
  width: 26vw;
  -webkit-border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.about-me-content p {
  padding: 10px 20px;
  font-family: var(--chivo);
  font-size: 25px;
}

.content-1-container {
  grid-column: 1;
  justify-content: flex-end;
}

.content-1-container p {
  font-size: 22px;
}

.content-2-container {
  grid-column: 2;
  justify-content: center;
}

.content-3-container {
  grid-column: 3;
  justify-content: flex-start;
}



.fun-facts {
  margin: 20px 0px;
  grid-row: 3;
  grid-column: 1 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--pink);
  font-family: var(--autour);
}
