@import 'animation.css';

.hamburger-icon {
  position: fixed;
  bottom: 50px;
  right: 40px;
  width: 10vh;
  height: 10vh;
  background: var(--granite);
  border: 4px solid var(--salmon);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.hamburger-icon-exit {
  position: fixed;
  bottom: 50px;
  right: 40px;
  width: 10vh;
  height: 10vh;
  background: var(--granite);
  border: 4px solid var(--salmon);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.hamburger-line-container {
  width: 8vh;
  height: 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.hamburger-line {
  width: 40px;
  border: 2px solid var(--salmon);
}

.hamburger-button {
  position: fixed;
  width: 10vh;
  height: 10vh;
  bottom: 30px;
  right: 30px;
  opacity: 0;
  z-index: 3;
}


.hamburger-button:checked ~ .body-page, .hamburger-button:checked ~ .navbar-container {
  filter: brightness(0.2);
}

.hamburger-button:checked ~ .navbar-container {
  z-index: 1;
}

.hamburger-button:checked ~ .hamburger-menu-container {
  display: flex;
  justify-content: center;
  align-items: space-around;
}

.hamburger-button:checked ~ .hamburger-icon {
  display: none;
}

.hamburger-visibility {
  display: none;
}

.hamburger-icon-exit i {
  font-size: 50px;
  color: var(--salmon);
}

.hamburger-menu-container {
  width: 80%;
  height: 65%;
  background: var(--granite);
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 1;
  -webkit-border-radius: 30px;
}

.hamburger-menu {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: 1fr;
  width: 100%;
}

.hamburger-menu a {
  display: flex;
  justify-content: flex-start;
  padding-left: 50px;
  align-items: center;
  color: var(--teal);
  text-decoration: none;
}

.menu-item:nth-child(1) {
  -webkit-border-radius: 30px 30px 0 0;
}

.menu-item:nth-child(5) {
  -webkit-border-radius: 0 0 30px 30px;
}

.hamburger-menu a i {
  font-size: 30px;
}

.hamburger-menu a:hover {
  background: var(--salmon);
  animation: link-hover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.hamburger-menu h1 {
  padding-left: 10px;
  font-family: var(--autour);
}

.hamburger-menu img {
  width: 32px;
  height: 48px;
}


/* desktop specifics */


@media only screen and (min-width: 769px) {
  .mobile {
    display: none;
  }
}
