@import 'navbar.css';
@import 'landing.css';
@import 'about-me.css';
@import 'skills.css';
@import 'banner.css';
@import 'projects.css';
@import 'contact-me.css';

:root {
  /* fonts */
  --autour : 'Autour One', cursive;
  --chivo : 'Chivo', sans-serif;
  --rokkitt : 'Rokkitt', serif;

 /* colors */ 
  --pink: #FFE3F1;
  --teal: #00C9C8;
  --salmon: #CD5334;
  --granite: #303030;
}

* {
  margin: 0;
}

.break-background {
  background: red;
  height: 100%;
  width: 100%;
}
